@import "@app/styles/operators";

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.number-container {
  background-color: #bfbfbf;
  width: 100%;
}

.operator-button {
  &__icon {
    height: 24px;
    width: 24px;
    background-size: cover;
  }
}